* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: azure;
    outline: none;
}

.container {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.calculator {
    background-color: rgb(67, 67, 80);
    padding: 15px;
    box-shadow: inset(5px 5px 12px gray);
    box-shadow: 5px 5px 12px black;
    border-radius: 30px;
    display: grid;
    border: none;
    grid-template-columns: repeat(4, 68px);
}

input {
    grid-column: span 4;
    height: 70px;
    width: 270px;
    background-color: gray;
    box-shadow: inset 5px 5px 12px white;
    inset: 5px 5px 12px black;
    color: rgb(70, 70, 70);
    border-radius: 10px;
    font-size: 30px;
    text-align: end;
    border: none;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 10px;

}

button {
    height: 55px;
    width: 52px;
    box-shadow: -5px -5px 12px white;
    box-shadow: -5px -5px 12px rgba(0, 0, 0, .15);
    border-radius: 40%;
    text-align: center;
    background-color: rgb(rgb(32, 30, 30), rgb(106, 119, 106), rgb(93, 93, 131));
    border: none;
    font-size: 15px;
    padding: 15px;
    margin: 8px;
}

.equals {
    height: 55px;
    width: 115px;
    border-radius: 40px;
    box-shadow: -5px -5px 12px white;
    box-shadow: -5px -5px 12px rgba(0, 0, 0, .15);
    background-color: azure;
    display: inline-block;

}